<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98188005540-2dbf3lhsl7plud9t2862uc56lmvm1ad5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98188005540-2dbf3lhsl7plud9t2862uc56lmvm1ad5</string>
	<key>API_KEY</key>
	<string>AIzaSyDMxDw60Y3RGmgwIhAJbZtC-m7WPBIQA58</string>
	<key>GCM_SENDER_ID</key>
	<string>98188005540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.df.workout30</string>
	<key>PROJECT_ID</key>
	<string>workout30-94571</string>
	<key>STORAGE_BUCKET</key>
	<string>workout30-94571.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98188005540:ios:7e695c1054509f6fe21631</string>
</dict>
</plist>